@mixin hoverNotHover{
    &:hover{
        transform: scale(1.03);
        transition: 0.75s;
        color: #FFC107;
    }

    &:not(:hover){
        transform: scale(1);
        transition: 0.75s;
    }
}

$background: rgb(255, 247, 212);

.nav-link{
    @include hoverNotHover();
    color: black;
}

.navbar{
    background-color: white;
}

body{
    background-color: $background;
}

#rocket{
    animation: Turn 10s linear infinite;
    @keyframes Turn {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    &:hover{
        transform: rotate(360deg);
        transition: 6s;
    }

    &:not(:hover){
        transition: 6s;
    }
}

#newproduct{
    position: relative;
    z-index: -1;
    animation: Pump 1.5s linear infinite;
    @keyframes Pump {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    
    &:hover{
        transform: rotate(360deg);
        transition: 6s;
    }

    &:not(:hover){
        transition: 6s;
    }
}

#card{
    @include hoverNotHover();
    background-color: $background;
}

#rocketMoving{
    animation: moveToLeft 10s linear infinite;
    @keyframes moveToLeft {
        0% {
            transform: translateX(-80%);
        }
        25% {
            transform: translateX(0%);
        }
        50% {
            transform: translateX(60%);
        }
        75% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-80%);
        }
    }
}

#blackBack{
    &:hover{
        animation: changeColorB 10s linear infinite;
        
        @keyframes changeColorB {
            10% {
                color: orange
            }
            25% {
                color: yellow;
            }
            50% {
                color:greenyellow;
            }
            75% {
                color: green;
            }
            100% {
                color: #FFFFFF;
            }
        }
    }
}

#whiteBack{
    &:hover{
        animation: changeColorW 10s linear infinite;
        
        @keyframes changeColorW {
            10% {
                color: orange
            }
            25% {
                color: rgb(87, 19, 19);
            }
            50% {
                color:rgb(200, 11, 11);
            }
            75% {
                color: rgb(87, 9, 34);
            }
            100% {
                color: #212529;
            }
        }
    }
}

#product{
    animation: upDown 7s linear infinite;
    @keyframes upDown {
        0% {
            transform: translateY(0%);
        }
        10% {
            transform: translateY(-5%);
        }
        30% {
            transform: translateY(10%);
        }
        60% {
            transform: translateY(25%);
        }
        100% {
            transform: translateY(0%);
        }
    }
}

canvas {
    border:1px solid grey;
    background-color: black;
}